*{
  box-sizing: border-box;
}

main{
  padding: 60px;
}

p {
    color: red;
  }

div {
    padding: 60px;
  }

.blueborder{
  background-color: blue;
  width: 60px;
}

.redborder{
  background-color: red;
  border: 1px black;
}